## Exercise 1-3

Below are various data sources. Identify whether each one is an example of structured or unstructured data \
- Company’s financial reports in an Excel file: Structured data
- Photographs on a social media platform: Unstructured data
- News articles on a website: Unstructured data
- Inventory data in a relational database: Structured data
- Recorded interviews from a market research study: Unstructured data

For each of the following unstructured data sources, propose a method to convert it into structured data. Explain your reasoning.

- A series of blog posts about travel experiences - natural language processing (NLP), sentiment analysis, LLM\
We can extract key information like locations, dates, overall tone of posts. Then organize it into a table.

- Audio recordings of customer service calls. Speech-to-text model, NLP, sentiment analysis, LLM\
First convert audio to text, then analyze the text to extract customer issues, responses, and outcomes using LLM, storing them in a structured format.

- Handwritten notes from a brainstorming session - Image-to-text model, NLP, LLM
Take pictures of notes and extract text from them. Then categorize the content into structured data like topics, action items, tasks, etc using LLM.

- A video tutorial on cooking -  Speech-to-text model, NLP, LLM \
Usually, every step in the cooking video is verbally explained, so we can extract all text from audio. And then we can get recipe name, list of ingridients and steps.

You are a data analyst at a retail company. You have access to various data sources, including transaction records, customer feedback comments, social media posts about your brand, and employee work schedules.

- Categorize each of these data sources as structured or unstructured.
- Suggest how you might use each type of data for improving the company’s business operations.

- Transaction records - Structured data \
Analyze sales trends, identify top selling products, and optimize inventory management.

- Customer feedback comments -  Unstructured data \
Perform sentiment analysis to understand customer satisfaction and identify areas for product or service improvement.

- Social media posts about your brand -  Unstructured data\
Monitor brand perception, track marketing campaign effectiveness, and ensure product quality.

- Employee work schedules - Structured data \
Optimize staffing levels based on peak hours and ensure efficient workforce management.

## Exercise 4 : Import a file from Kaggle
- Import the titanic dataset that you can find on Kaggle.
- Print the first few rows of the DataFrame.

In [3]:
import pandas as pd

titanic_df = pd.read_csv('Titanic-Dataset.csv')

titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Exercise 5: Importing a CSV File
Use the Iris Dataset CSV.
- Download the Iris dataset CSV file and place it in the same directory as your Jupyter Notebook.
- Import the CSV file using Pandas.
- Display the first five rows of the dataset.

In [4]:
iris_df = pd.read_csv('iris.csv')

iris_df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

## Exercise 6 : Export a dataframe to excel format and JSON format.
- Create a simple dataframe.
- Export the dataframe to an excel file.
- Export the dataframe to a JSON file.

In [6]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   - -------------------------------------- 10.2/250.9 kB ? eta -:--:--
   ---- ---------------------------------- 30.7/250.9 kB 330.3 kB/s eta 0:00:01
   ------------ -------------------------- 81.9/250.9 kB 573.4 kB/s eta 0:00:01
   ------------------------ ------------- 163.8/250.9 kB 821.4 kB/s eta 0:00:01
   ---------------------------------------  245.8/250.9 kB 1.1 MB/s eta 0:00:01
   ---------------------------------------- 250.9/250.9 kB 1.0 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [10]:
data = {'Name': ['Tom', 'nick', 'alex'],
        'Age': [24, 27, 22],
        'City': ['London', 'New York', 'Tel Aviv']}

df = pd.DataFrame(data)

df.to_excel('test_excel.xlsx', index=False)

df.to_json('test_json.json')

## Exercise 7: Reading JSON Data
Use a sample JSON dataset:
- Import the JSON data from the provided URL.
- Use Pandas to read the JSON data.
- Display the first five entries of the data.

In [11]:
json_df = pd.read_json('test_json.json')

json_df.head()

   Name  Age      City
0   Tom   24    London
1  nick   27  New York
2  alex   22  Tel Aviv